<h1>Welcome to Budget Tracker</h1>
<div class="row">
  <div class="col-md-6">
    <h2>Net income past three months</h2>
    <table class="table table-striped">
      <tr>
        <th>Month</th>
        <th>Year</th>
        <th class="text-right">Debits</th>
        <th class="text-right">Credits</th>
        <th class="text-right">Net Income</th>
      </tr>
      <% @report.each do |key, row| %>
       <tr>
         <td><%= link_to Date::MONTHNAMES[row[:month]], monthly_summary_path({month: row[:month].to_i, year: row[:year].to_i}) %></td>
         <td><%= row[:year].to_i %></td>
         <td class="text-right"><%= number_to_currency(row[:debits]) %></td>
         <td class="text-right"><%= number_to_currency(row[:credits]) %></td>
         <td class="text-right"><%= number_to_currency(row[:credits] - row[:debits]) %></td>
       </tr>
      <% end %> 
    </table>
  </div>
  <div class="col-md-6">
    <h2>Top spending in <%= Date::MONTHNAMES[Date.today.month] %></h2>
    <div class="row">
      <div class="col-md-8">
        <table class="table table-striped">
          <tr>
            <th>Category</th>
            <th class="text-right">Amount</th>
          </tr>
          <% @top_spending.each do |row| %>
            <tr>
              <td><%= link_to row['name'], monthly_category_transactions_path({ id: row['id'], month: Date.today.month, year: Date.today.year }) %></td>
              <td class="text-right"><%= number_to_currency(row['total']) %></td>
            </tr>
          <% end %>
        </table>
     </div>
  </div>
</div>
