<h1>All Master Categories</h1>
<% if @categories.any? %>
  <table class="table table-condensed table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th class="text-center">Subcategories</th>
      <th></th>
      <th></th>
    </tr>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= link_to category.name, category_path(category) %></td>
        <td class="text-center"><%= category.subcategories.count %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Delete', category_path(category), method: :delete, 
                        data: { confirm: 'Are you sure you want to delete this category?' } %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>There are no categories in the database!</p>
<% end %>

<%= link_to 'Create New Category', new_category_path %>
