<h1>Transactions for <%= @category.name + ' in ' + @month_label %></h1>
<%= render 'breadcrumbs' %>
<% if @transactions.any? %>
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th class="text-right">Amount</th>
    </tr>
    <% total = 0
       @transactions.each do |t| %>
      <tr>
        <td><%= t.date %></td>
        <td><%= link_to t.description, transaction_path(t) %></td>
        <td class="text-right amt_<%= t.transaction_type %>"><%= number_to_currency(t.amount) %></td>
      </tr>
    <% total += t.amount        
    end %>
    <tfoot>
      <tr>
        <td colspan="2"><strong>Total</strong></td>
        <td class="text-right"><strong><%= number_to_currency(total) %></strong></td>
      </tr>
    </tfoot>
  </table>
<% else %>
  <p>There are no transactions for this month.</p>
<% end %>
<p>
  <%= link_to 'Back to category', category_path(@category) %>
</p>
