<%= render 'breadcrumbs' %>
<h1><%= @category.name %></h1>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong># of transactions:<%= @category.transactions.count %></strong>
      </div>
      <% if @category.transactions.any? %>
        <table class="table table-condensed">
          <tr>
            <th>Month</th>
            <th class="text-right">Amount</th>
          </tr>
        <% @category.monthly_amounts.each do |set| %>
          <tr>
            <td><%= link_to sprintf("%s %d", Date::MONTHNAMES[set['month']], set['year']), monthly_category_transactions_path(
              { id: @category.id, month: set['month'].to_i, year: set['year'].to_i }
            ) %></td>
            <td class="text-right"><%= number_to_currency(set['total']) %>
          </tr>
        <% end %>
       </table>
     <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Child Categories</strong>
      </div>
      <ul class="list-group">
        <% @category.subcategories.each do |cat| %>
          <li class="list-group-item"><%= link_to cat.name, category_path(cat) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<p>
  <%= link_to 'Back to categories', categories_path %>
</p>
